div {
    border:5px solid brown;
    padding:10px 20px;
    max-width: 400px;
    margin:20px auto;
}

body > div{
    background-color: lightgoldenrodyellow;
    color:black;
}

div > div{
    background-color:blue;
    color:goldenrod;
    border:double 5px brown;
}

div > div > div{
    background-color:bisque;
    color:green;
}


 